<div class="room-group">
  <div class="room-block room-block_red">
    <ul>
      <li *ngFor="let event of room1">
        <p>{{event.title}}</p>
        <p>{{event.date | date:'dd.MM'}}</p>
        <p>{{event.timeStart | date:'H:mm'}}</p>
        <p>{{event.timeEnd | date:'H:mm'}}</p>
      </li>
    </ul>
  </div>
  <div class="room-block room-block_green">
    <ul>
      <li *ngFor="let event of room2">
        <p>{{event.title}}</p>
        <p>{{event.date | date:'dd.MM'}}</p>
        <p>{{event.timeStart | date:'H:mm'}}</p>
        <p>{{event.timeEnd | date:'H:mm'}}</p>
      </li>
    </ul>
  </div>
  <div class="room-block room-block_blue">
    <ul>
      <li *ngFor="let event of room3">
        <p>{{event.title}}</p>
        <p>{{event.date | date:'dd.MM'}}</p>
        <p>{{event.timeStart | date:'H:mm'}}</p>
        <p>{{event.timeEnd | date:'H:mm'}}</p>
      </li>
    </ul>
  </div>
</div>
